/* classes de estruturação principal */

header {
	background-color:#c9729f;
	height: fit-content;
	padding: 15px 25px;
}

main {
	padding: 10px;
	height: fit-content;
	min-height: 95vh;
	background-color: #583b7e;
	background-attachment: fixed;
}

footer {
	background-color: #c9729f;
	padding: 20px 50px;
	height: fit-content;
}

/* classes de imagem */

.i-sm {
	height: 70px;
}

/* classes de centralização de imagens */
.float-l {
	float: left;
}

.float-r {
	float: right;
}

/* color boxes */

.bx {
	background-color: #ae8fba;
	height: fit-content;
	align-content: center;
}

.bx-dpink {
	background-color: rosybrown;
	height: fit-content;
}

.bc {
	background-color: #f2e7d2;
}

/* fontes */

.playwrite-gb-j {
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}



/* versão em telas pequenas */

@media (max-width: 800px) {
	main {
		min-height: 100vh;
		height: fit-content;
	}
}
